* {
  margin: 0;
  padding: 0;
  min-width: auto;
}

body {
  margin: 0 auto;
}

img {
  float: left;
  max-width: 400px;
  padding-top: 50px;
  padding-left: 40px;
  clear: both;
}

section ul {
  color: #1e366a;
  border-top: solid #2d4b86 2px; /*上のボーダー*/
  border-bottom: solid #2d4b86 2px; /*下のボーダー*/
  padding: 0.5em 0 0.5em 1.5em;
  list-style: none;
}

section li {
  line-height: 1.5;
  padding: 0.5em 0;
}

li.name {
  font-weight: bold;
  font-size: large;
}

.profile {
  margin-left: auto;
  margin-right: auto;
  float: left;
  width: 400px;
  padding-top: 50px;
  padding-left: 40px;
}

.hobby {
  color: #1e366a;
  padding-top: 20px;
  padding-left: 20px;
}

header nav {
  float: right;
  font-size: small;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  clear: both;
  color: #4868ad;
  padding-left: 60px;
}

.twittericon {
  /* margin-left: auto;
  margin-right: auto; */
  max-width: 800px;
  width: 500px;
  padding-top: -50px;
}

.btn-square-emboss-top {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f1ece6; /*ボタン色*/
  color: #4868ad;
  box-shadow: 0px 2px 2px #0000004a;
  border-bottom: solid 3px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff80;
}

.btn-square-emboss-myprofile {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f1ece6; /*ボタン色*/
  color: #a74c6f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a74c6f;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff80;
}

.btn-square-emboss-favorite {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f1ece6; /*ボタン色*/
  color: #4868ad;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff80;
}

/* .btn-square-emboss-more {
  float: left;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #db6391; /*ボタン色*/
/* color: #a74c6f;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #a74c6f;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #ffffff80;
}  */
